Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Grape___Leaf_blight_(Isariopsis_Leaf_Spot) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Peach___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Early_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Spider_mites[[:space:]]Two-spotted_spider_mite filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Cherry_(including_sour)___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Corn_(maize)___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Apple___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Pepper,_bell___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Potato___Late_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Raspberry___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Squash___Powdery_mildew filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Apple___Black_rot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Grape___Esca_(Black_Measles) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Orange___Haunglongbing_(Citrus_greening) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Soybean___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Strawberry___Leaf_scorch filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Strawberry___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Septoria_leaf_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Target_Spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Grape___Black_rot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Grape___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Corn_(maize)___Northern_Leaf_Blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Peach___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Corn_(maize)___Cercospora_leaf_spot[[:space:]]Gray_leaf_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Potato___Early_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Apple___Apple_scab filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Apple___Cedar_apple_rust filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Tomato_Yellow_Leaf_Curl_Virus filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Tomato_mosaic_virus filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Corn_(maize)___Common_rust_ filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Pepper,_bell___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Potato___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Late_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Tomato___Leaf_Mold filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Blueberry___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/train/Cherry_(including_sour)___Powdery_mildew filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Cherry_(including_sour)___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Peach___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Peach___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Pepper,_bell___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Squash___Powdery_mildew filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Early_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Target_Spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Blueberry___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Corn_(maize)___Common_rust_ filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Corn_(maize)___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Potato___Late_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Strawberry___Leaf_scorch filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Apple___Apple_scab filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Cherry_(including_sour)___Powdery_mildew filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Grape___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Tomato_mosaic_virus filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Spider_mites[[:space:]]Two-spotted_spider_mite filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Tomato_Yellow_Leaf_Curl_Virus filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Apple___Black_rot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Corn_(maize)___Northern_Leaf_Blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Grape___Leaf_blight_(Isariopsis_Leaf_Spot) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Late_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Septoria_leaf_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Corn_(maize)___Cercospora_leaf_spot[[:space:]]Gray_leaf_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Tomato___Leaf_Mold filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Apple___Cedar_apple_rust filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Orange___Haunglongbing_(Citrus_greening) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Pepper,_bell___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Potato___Early_blight filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Soybean___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Apple___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Grape___Black_rot filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Potato___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Strawberry___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Grape___Esca_(Black_Measles) filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/New[[:space:]]Plant[[:space:]]Diseases[[:space:]]Dataset(Augmented)/valid/Raspberry___healthy filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleCedarRust4.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/CornCommonRust1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/CornCommonRust3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoHealthy3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoYellowCurlVirus5.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoEarlyBlight2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoEarlyBlight2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoYellowCurlVirus1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoHealthy2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleScab1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/CornCommonRust2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoYellowCurlVirus3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoYellowCurlVirus4.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoYellowCurlVirus6.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleCedarRust1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoEarlyBlight1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoHealthy1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoEarlyBlight1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoEarlyBlight6.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoHealthy1.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoYellowCurlVirus2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleScab2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleScab3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoEarlyBlight5.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoEarlyBlight5.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoHealthy2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoHealthy4.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleCedarRust3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/AppleCedarRust2.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoEarlyBlight3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/PotatoEarlyBlight4.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoEarlyBlight3.JPG filter=lfs diff=lfs merge=lfs -text
Notebooks/Computer_Vision/new-plant-diseases-dataset/test/test/TomatoEarlyBlight4.JPG filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
